*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primary {
  color: #325adc  !important;
}

a{
    color: white !important;
}
.nav-link:hover{
    color: rgba(0, 0, 0, 0.644) !important;
}

.home-navbar{
    background-color: #476AE1 !important;
    opacity: 5;
}

.toggle-btn{
    color: white !important;
}



.dropdown-item{
   color: black !important;
   background-color: white !important;
}

ul li{
    list-style-type: none;
}
