*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primary {
  color: #325adc  !important;
}

a{
    color: white !important;
}
.home-navbar{
    background-color: #325adc !important;
}

.toggle-btn{
    color: white !important;
}

.more{
    background-color: #325adc;
}

.dropdown-item{
    background-color: #325adc !important;
}
.dropdown-item:hover{
    background-color: #325adc86;
}
