*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./images/valentines.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: -7rem;
    margin-left: -15rem;
}

h1{
    font-size: 4rem;
    margin-bottom: 1rem;
}

.container-fluid{
    display: flex;
    flex-wrap: wrap;
}

.timer{
    font-size: 8rem;
    line-height: 1;
    margin: 0 2rem;

}

.countdown{
    text-align: center;
}
 span{
     font-size: 20px;
 }